src/main/mule/github-action-cloudhub-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ab65fc37-2693-44ef-9765-6d831d0333c2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="0f1421ea-fd9a-46c0-a172-ed462452868b" file="${app.env}.yaml" />
	<global-property doc:name="Global Property" doc:id="3f410254-47ef-465d-b09c-0377fee29586" name="app.env" value="qa" />
	<os:object-store name="test" doc:name="Object store" doc:id="4cc6604b-3498-4b54-bf68-4b8f82514b24" maxEntries="100" entryTtl="1" entryTtlUnit="HOURS" />
	<flow name="github-action-cloudhub-v2Flow" doc:id="757f8fdf-2e84-4262-a58d-320fde677ba8" >
		<http:listener doc:name="Listener" doc:id="58d76239-bfd9-4117-984a-24b21150acdf" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="c551246c-3757-4419-b51a-6aff273d69ae" message="#[payload]" />
	</flow>
</mule>
